.aml-font {
  font-size: 14px;
  font-weight: 500;
}
.aml-nav {
  background-color: white;
}
.leftmost-nav-item {
  padding-right: 10px;
}
.nav-brand {
  background-color: #4abff0;
  margin: 0px 0px;
  padding: 10px;
}
.nav-div-item {
  margin: 0px 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 15px;
  color: #7d7d7d;
}
.nav-div-item:hover {
  color: #24c5d9;
}
.nav-item-text {
  margin-left: 5px;
}
.round-bg-icon {
  height: auto;
  display: block;
  margin: auto;
}
.text-input {
  border-radius: 10px !important;
  border: 1px solid #d6d6d6;
  padding: 5px 10px !important;
}
.text-input:focus {
  outline: none;
}
.vertical-separator {
  border-right: 1px solid #d2d2d2;
}
.nav-item-active {
  border-bottom: 4px solid #24c5d9;
}
